/*body*/
body{
    margin: 0%;
    background: #15b39b;
  }
  #card{
    border-radius: 30px;
  }
  
  #cont{
    margin: auto;
    margin-top: 20px;
    border-radius: 50px;
    width: 91%;
    height: 90vh;
    background: #2d3d30;
    animation: animator;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse;
  }
  #desc{
    margin: auto;
    border-radius: 50px;
    width: 99%;
    height: 90%;
    text-align: center;
  }
  #desc>h1{
    padding:80px 80px 10px 80px;
    text-align: center;
    font-size: 30px;
    color:#ACD3A1; 
    font-weight: 200;
  }
  
  #changingText{
    padding: 1px !important;
  }
  .nam{
    color: white;
  }
  .hand-wave img{
    border-radius: 50px;
  }
  
  #avatar{
   
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 130px;
    height: 200px;
    border-radius: 10px; 
    
  }
  
  @keyframes ripple {
    0%{
      box-shadow:-1px -1px 3px 2px #252531,
      1px 1px 3px 2px #414157,
      1px 1px 3px 4px #252531,
      -1px -1px 3px 4px #414157;
    }
    100%{
      box-shadow:-1px -1px 6px 30px #25253100,
      1px 1px 6px 30px #41415700,
      1px 1px 6px 36px #25253120,
      -1px -1px 6px 36px #41415710;
    }
  }
  #welcomeMessage{
    margin: 10px;
    text-align: center;
    font-size: 30px;
    color: rgba(0,0,0,0.6);
    text-shadow: 1px 1px 2px rgba(255,255,255,0.1);
  }
  
  #project{
    margin: auto;
    margin-top: 15vh;
    display: flex;
    flex-wrap: wrap;
  }
  #project>h1{
    text-align: center;
    padding: 18px;
    padding-top:0px;
    font-size: 30px;
    color: rgba(0,0,0,0.6);
    margin: auto;
    border-width: 4px 0;
    width: 60vw;
    text-shadow: 1px 1px 2px rgba(255,255,255,0.1);
  }
  .tabs{
   margin: auto;
   margin-top: 40px;
   margin-bottom: 10px;
   width: 540px;
   text-align: center;
   border-radius: 41px;
   color: #ffffff;
   box-shadow:  12px 12px 24px #262633,
   -3px -3px 14px #404055b9;
   padding: 5px 30px 15px 30px;
    background: #2d3d30;;
  }
  .tabs:hover{
    animation-name: float;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: linear;
  }
  @keyframes float {
    from{
      box-shadow:  12px 12px 24px #262633,
      -3px -3px 14px #404055b9;
    }
    to{
      box-shadow:  3px 3px 8px #262633,
      -1px -1px 8px #40405577;
    }
  }
  @keyframes animator {
    
    0%{
      width: 47%;
    }
    100%{
      width: 91%;
    }
  
  }
  .image>img{
    padding: 10px;
    width: 500px;
    height: 300px;
    border-radius: 41px;
    /* background: #000000; */
  }
  
  
  #About_Me>h1{
    font-family:'Courier New', Courier, monospace ;
    padding: 15px;
    color: #dbe8d4;
    font-weight: 200;
    text-align: center;
  }
  
  #About_Me>img{
    width: 140px;
    display: block; 
    margin: auto;
    margin-bottom: 60px;
    border-radius: 10px;
    border: 10px solid green;
    box-shadow: rgba(255,255,255,.15);
  }
  .givepos{
    text-align: center;
    font-size: 50px;
  }
  .arrow img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
  }
  
  #About_Me{
    margin: auto;
    margin-top: 18vh;
    margin-bottom: 20vh;
    font:normal 100%/1.5 "Titillium Web",sans-serif;
    color: #dbe8d4;
    width: 600px;
    text-align: justify;
  }
  
  #footer{
    margin-top: 80px;
    margin-bottom: -400px;
    background: #000000;
    text-align: center;
    padding: 20px;
    animation-name: ripple;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
  }
  #link{
    color: rgba(255, 47, 0, 0.856);
    text-decoration: none;
    cursor: pointer;
  }
  #link:hover{
    color: rgb(183, 183, 183);;
    text-shadow: 0px 0px 2px rgb(172, 172, 172);
  }
  
  #holder_contact_links .fa{
    color: #2a2a38;
    margin-top: 50px;
    text-align: center;
    border-radius: 50px;
    margin-left: 5px;
    margin-right: 5px;
    padding: 5px 5.9px;
    font-size: 20px;
  background: #D3C9A1;
  box-shadow:  2.5px 2.5px 2px #222227,
               -2.5px -2.5px 3px #3c3c47;
  }
  #holder_contact_links .fa:hover{
    color: #323242;
  background: #ecc8ff;
  }
  
  
  @media screen and (max-width: 1200px) {
    #desc>h1{
      font-size: 25px;
      padding:80px 10px 10px 10px;
    }
    #changingText{
      font-size: 16px !important;
      padding:1px !important;
    }
  }
  
  @media screen and (max-width: 700px) {
    #desc>h1{
      font-size: 20px;
      padding:80px 10px 10px 10px;
    }
    #welcomeMessage{
      font-size:20px;
    }
    #changingText{
      font-size: 12px !important;
      padding:1px !important;
    }
    .image>img{
      width: 25vw;
      padding: 6px;
      border-radius: 20px;
    }
    .tabs{
      font-size: 13px;
      padding: 5px 8px;
      width: 80vw;
      border-radius: 20px;
    }
    .c_button{
      display: none;
    }
    #About_Me{
      width: 80vw;
    }
  }
  